<!doctype html>
<html class="no-js">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      {{#if title}}
        {{ title }}
      {{else}}
        Monolist
      {{/if}}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/main.min.css">

  </head>

  <body class="inner-page">

    {{> inner_header }}

    <div class="inner-wrapper soft--ends">
      {{> body }}
    </div>

    <script src="js/main.min.js"></script>

  </body>

</html>