files:
  "/tmp/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |

      proxy_send_timeout 600;
      proxy_read_timeout 600;
      send_timeout       600;
container_commands:
  00-add-config:
    command: cat /tmp/proxy.conf >> /var/elasticbeanstalk/staging/nginx/conf.d/elasticbeanstalk/00_application.conf
  01-restart-nginx:
    command: service nginx restart
