files:
  "/tmp/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |

      proxy_send_timeout 600;
      proxy_read_timeout 600;
      send_timeout       600;
container_commands:
  00-add-config:
    command: cat /tmp/proxy.conf >> /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf
  01-restart-nginx:
    command: service nginx restart
