---
layout: inner.hbs
title: Reset Your Password
---

<form id="reset-form" class="full-page" onSubmit={this.handleSubmit}>

  <h5 class="light text-center nudge-quarter--ends">Choose your new password</h5>

  <div class="table-container">
    <div class="input-container">
      <label for="password" id="password-label">Password</label>
      <input type="password" id="password" valueLink={this.linkState('password')} placeholder="Your new password" required />
    </div>

    <div class="input-container">
      <label for="confirm" id="confirm-label">Confirm</label>
      <input type="password" id="confirm" valueLink={this.linkState('confirmPassword')} placeholder="Confirm your new password" required />
    </div>
  </div>

  <div class="error-container nudge-half--bottom text-center">
  </div>

  <div class="spinner-container text-center nudge-half--bottom" style="display: none;">
    {{> spinner }}
  </div>

  <div class="bottom-buttons-container">
    <div class="submit-container">
      <input type="submit" id="submit" class="btn full" value="Reset Password" disabled={this.state.submitDisabled ? 'true' : ''} />
    </div>
  </div>

</form>

<div class="success-container" style="display: none;">
  <p className="nudge-half--bottom">Your password has been successfully reset!</p>
</div>