.inner-page {

  width: 100%;
  height: 100%;

  background: $light-grey-background;
  color: $light-grey-text;

  .inner-header {
    position: fixed;
    right: 0;
    left: 0;
    height: 100px;

    text-align: center;

    background-color: $dark-grey-background;
    color: $white;

    & > .logo {
      max-height: 60px;
    }
  }

  .inner-wrapper {
    position: relative;
    top: 100px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    .line-thru {
      z-index: 1;
      position: relative;
      display: block;
      width: 100%;

      font-size: 16px;
      text-align: center;
      color: $extra-light-grey-text;

      &:before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 10px;
        margin: -5px 0 0 -20px;

        background-color: $light-grey-background;
      }

      &:after {
        content: '';
        z-index: -2;
        display: block;
        position: absolute;
        top: 49%;
        width: 100%;
        border-bottom: 1px solid $light-grey-text;
      }
    }

    form.full-page {
      width: 100%;
    }
  }

}