.btn, .button, input[type=submit] {

  position: relative;
  display: inline-block;
  top: 0;
  padding: $half-space/2;
  border: 0;

  cursor: pointer;

  font-size: 14px;
  text-transform: uppercase;
  background-color: $highlight;
  @include transition(background-color 0.1s ease-in-out);
  color: $white;

  &:hover {
    text-decoration: none;
    color: $white;
    background-color: lighten($highlight, 5);
  }

  &.active {
    top: 2px;
  }

  &.large {
    padding: $half-space $full-space;
    font-size: 16px;
  }

  &.full {
    display: block;
    width: 100%;
  }

  &:disabled {
    background-color: $medium-grey-background;
    cursor: default;
  }

  &.facebook {
    background-color: $facebook-blue;
    &:hover { background-color: lighten($facebook-blue, 5); }
  }

  &.twitter {
    background-color: $twitter-blue;
    &:hover { background-color: lighten($twitter-blue, 5); }
  }

  &.google {
    background-color: $google-orange;
    &:hover { background-color: lighten($google-orange, 5); }
  }

}