form.full-page {

  .table-container {
    display: table;
    width: 100%;

    & > * {
      display: table-row;
      width: 100%;

      & > * {
        display: table-cell;
        padding: $half-space 0;
        vertical-align: middle;
      }
    }

    .input-container {
      label {
        width: 20%;
        text-align: left;
      }

      input {
        padding: $half-space/2;

        font-size: 14px;
        border: none;
        outline: none;
        background: $dark-grey-background;
        color: $light-grey-text;
      }

      input, .input {
        width: 100%;
      }
    }
  }

  label {
    color: inherit;
    @include transition(color 0.1s ease-in-out);

    &.active { color: $highlight; }
  }

  &.narrow {
    width: 75%;
    margin: 0 auto;
  }

}