.hero {

  z-index: 1;
  position: relative;
  display: table;
  width: 100%;
  height: 100vh;

  @include background-cover();
  background-image: url('../images/hero-bg.png');

  .hero-container {
    z-index: 2;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    color: $white;
  }

  .scroll-down-container {
    z-index: 2;
    position: absolute;
    width: 45px;
    height: 45px;
    bottom: $half-space;
    left: 50%;
    margin-left: -(45px/2);
    line-height: 42px;

    cursor: pointer;
    text-align: center;
    font-size: 24px;
    @include border-radius(100%);
    color: $white;
    border-style: solid;
    border-color: $white;
    border-width: 3px;
    @include transition(color 0.1s ease-in-out, border-color 0.1s ease-in-out);

    &:hover {
      color: $highlight;
      border-color: $highlight;
    }
  }

  .filter {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    background-color: $black;
  }

  .btn > i {
    font-size: 20px;
  }

}