.spinner > div {
  width: 10px;
  height: 10px;
  background-color: rgba($highlight, 0.8);

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@include keyframes(bouncedelay) {
  0%, 80%, 100% {
    @include scale(0.0);
  }
  40% {
    @include scale(1.0);
  }
}