<div class="content soft--ends">
  <div class="wrapper soft--ends">
    <div class="info-row nudge--bottom text-left">
      <div class="icon-container soft-half--bottom"><i class="fa fa-users"></i></div>
      <div class="text-container soft--left soft-half--bottom">
        <h3 class="flush--top">Create playlists collaboratively</h3>
        <p class="flush--top">Once a playlist is created, the creator has the option of adding other users as 'collaborators'. All collaborators have the ability to add and remove tracks from the playlist, as well as provide feedback on tracks added by other collaborators through per-track upvotes, downvotes, and comments.</p>
      </div>
    </div>
    <div class="info-row nudge--ends text-right">
      <div class="text-container soft--right soft-half--ends">
        <h3 class="flush--top">Choose songs from multiple sources</h3>
        <p class="flush--top">When searching for songs and adding them to your playlists, you have multiple sources to choose from including YouTube, Soundcloud, and Bandcamp. This nearly guarantees that you'll be able to find any song that you have in mind!</p>
      </div>
      <div class="icon-container soft-half--ends"><i class="fa fa-plus"></i></div>
    </div>
    <div class="info-row nudge--ends text-left">
      <div class="icon-container soft-half--ends"><i class="fa fa-compass"></i></div>
      <div class="text-container soft--left soft-half--ends">
        <h3 class="flush--top">Discover new playlists and songs</h3>
        <p class="flush--top">
          At any time, you can search for new playlists by title or related tags. You can also view playlists that are 'Trending' to see what's popular right now.
          <br />
          You can also choose to 'Follow' both playlists and users, as well as 'Star' tracks. This allows you to remember those playlists and tracks that you liked, as well as get future updates on them!
        </p>
      </div>
    </div>
    <div class="text-center">
      {{> download }}
    </div>
  </div>
  <div class="shadow"></div>
</div>