{{> spinner }}

<a href="#" target="_blank" class="btn large nudge-half--top osx-download" style="display: none;" onclick="_gaq.push(['_trackEvent', 'DownloadButton', 'Click', 'OSX']);">
  <i class="fa fa-apple nudge-half--right"></i> Download
</a>

<a href="#" target="_blank" class="btn large nudge-half--top win-download" style="display: none;" onclick="_gaq.push(['_trackEvent', 'DownloadButton', 'Click', 'Win']);">
  <i class="fa fa-windows nudge-half--right"></i> Download
</a>

<h4 class="nudge-half--top flush--bottom not-supported-download error bold" style="display: none;">
  Sorry, your platform is not currently supported!
</h4>