<div class="hero">

  <div class="hero-container wrapper">
    <h1 class="flush--top nudge-quarter--bottom">Build playlists with your friends</h1>
    <h3 class="flush--top light">Easily add songs from your favorite sources</h3>
    {{> download }}
    <img src="images/screenshot.png" class="screenshot" alt="Screenshot of Monolist application" />
  </div>

  <div class="scroll-down-container">
    <i class="fa fa-arrow-down"></i>
  </div>

  <div class="filter"></div>

</div>